@using System.Globalization
@model BookDto

@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="border border-1 rounded-2 p-3 col-md-5">
        <img src="https://dlcdnwebimgs.asus.com/gain/0274F593-3FBB-45DF-97C9-A33636E654E7/w1000/h732" alt="2021 ROG Flow X13" class="img-fluid">
    </div>
    <div class="p-3 col-md-7" style="background-color: #DFDFDE">
        <div class="row">
            <div class="col-md-9">
                <h2 class="mb-3">@Model.Name</h2> 
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-3 text-end">
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success" title="Edit">
                        <i class="fas fa-edit"></i> 
                    </a>
                    <a href="#" onclick="deleteRecord(@Model.Id)" class="btn btn-danger" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            }
        </div>
        <hr/>
        <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId" class="text-decoration-none mb-3" title="@Model.AuthorNameDisplay">@Model.AuthorNameDisplay</a>
        <div class=" mb-3">
            <p class="text-danger" style="font-size: xx-large">@Model.UnitPrice.ToString("C", new CultureInfo("en-US"))</p>
        </div>
        <div class="row mb-3">
            <div class="col-3" style="font-weight: bold">
                @Html.DisplayNameFor(model => model.Page)
            </div>
            <div class="col-4">
                @Html.DisplayFor(model => model.Page)
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.PublicationDateText))
        {
            <div class="row mb-3">
                <div class="col-3" style="font-weight: bold">
                    @Html.DisplayNameFor(model => model.PublicationDateText)
                </div>
                <div class="col-4">
                    @Html.DisplayFor(model => model.PublicationDateText)
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Publisher))
        {
            <div class="row mb-3">
                <div class="col-3" style="font-weight: bold">
                    @Html.DisplayNameFor(model => model.Publisher)
                </div>
                <div class="col-4">
                    @Html.DisplayFor(model => model.Publisher)
                </div>
            </div>
        }
        @if (Model.StockAmount < 10)
        {
            <div class="row mb-3">
                <div class="col-3" style="font-weight: bold">
                    @Html.DisplayNameFor(model => model.StockAmount)
                </div>
                <div class="col-4">
                    @Html.DisplayFor(model => model.StockAmount)
                </div>
            </div>
        }
        <div class="row mb-3">
            <div style="font-weight: bold">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div style="text-align: justify">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="mt-3">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-success rounded-2" asp-action="AddToCart" asp-controller="Cart" asp-route-bookId="@Model.Id" style="width: 150px">
                    <i class="fas fa-cart-plus" style='color: #bb3e03'></i> Add to Cart
                </a>
            }
            <a asp-controller="Books" asp-action="Index" class="btn btn-info rounded-2" style="width: 150px">
                <i class="fas fa-long-arrow-alt-left"></i> Back to List
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/lib/plugins/AlertifyJs/css/alertify.min.css">
    <script src="~/lib/plugins/AlertifyJs/alertify.min.js"></script>
    
    <script>
    function deleteRecord(id){
            alertify.confirm("Delete Book", "Are you sure to delete?", 
            function () { 
                window.location.href="/Books/Delete/" + id}, 
            function (){
            }).set({
            labels: { ok: 'Yes', cancel: 'No'}
            });
        }
    </script>
}
